* {
    margin: 0;
    box-sizing: border-box;
}

header {
    
    color: brown;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
}

li {
    text-decoration: none;
    list-style-type: none;
    font-size: 24px;
    padding: 10px 20px;
    border: 1px solid black;
}

li:hover {
    font-size: 22px;
    border: 1px solid red;
    /* font-style: italic; */
}

li:active {
    font-family: "Lucida Sans", sans-serif;
}

li:focus {
    background-color: rgb(142, 247, 142);
    }

li:nth-child(odd) {
    color: grey;
}

li::before {
    content: ">>";
}

/* Media query for flex-direction */
@media (max-width: 700px) {
    ul {
        flex-direction: column;
    }
}

